.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board {
  border: 12px solid #3477eb;
  background-color: #eedf30;
  display: inline-block;
}

.boardColumn {
  display: inline-block;
  padding: 16px;
}

.gameTile {
  width: 75px;
  height: 75px;
  margin: 8px 0;
  background-color: #d8dbe2;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
